@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jersey+10&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-xs: 375px;

  --font-bebas: var(--font-bebas);
  --font-jersey: var(--font-jersey);
  
  --font-sans: var(--font-google-sans);
}


